.nav-bar-compact.js-nbc-bg {
    background: rgba(34,34,34, .2);
}

.bl-album-portfolio {
    .work-item {
        float: none;
        .work-img {
            // background-image: url('../../images/portfolio/bg.png');
            background-color: rgba(#000,0.05);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &:hover {
            .work-img::after {
                background: transparent;
            }
        }
        &:not(.flipster__item--current) {
            .work-img {
                opacity: 0.5;
                // &::after {
                //     background: rgba(20,20,20, .85);
                // }
            }
        }
        @media only screen and (max-width: 480px) {
            width: 75%;
        }
    }
}

.bl-social-icon {
    display: inline-block;
    margin-left: 6px;
}

.spinner-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bl-spinner {
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(63,249,220,0.2) 5%, rgba(63,249,220,1) 100%);
    animation: spin 1.5s cubic-bezier(.17,.67,.83,.67) infinite;
    margin-bottom: 20px;

    .inner-circle {
        width: 100%;
        height: 100%;
        background-color: #222;
        border-radius: 50%;
    }
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(359deg); }
}